<table id="mytable" class="table ">
  <thead>
    <tr>
      <th><input type="checkbox" id="checkall" /></th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Departamento</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    {{#each users}}
    <tr style="vertical-align: middle;">
      <td><input id="{{id}}" type="checkbox" class="checkthis" /></td>
      <td class="text-capitalize">{{name}}</td>
      <td>{{email}}</td>
      <td class="text-capitalize">{{department}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>