<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>HHRR4</title>
    <link rel='stylesheet' href='../../css/bootstrap.min.css' />
    <link rel='stylesheet' href='../../css/global.css' />
    <link rel='stylesheet' href='../../icons/font/bootstrap-icons.min.css' />
  </head>
  <body id="body-pd" style="background-color: #EEF5F9;">
    <header>
      {{> Layout/NavBar}}
    </header>

    <main class="pt-5 mt-4 pt-md-4 mx-3 me-md-5">{{{body}}}</main>
    <script src='../../js/bootstrap.min.js'></script>
  </body>
</html> 