@font-face {
  font-family: 'Roboto';
  src: url(../Fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Muestra la barra de desplazamiento siempre */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Muestra la barra de desplazamiento solo cuando se desplaza */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .1);
}

.bg-uci {
  background: #2f557b !important;
}
.bg-uci-darker {
  background: #1e364e !important;
}


.btn-uci {
  background: linear-gradient(90deg, #2f557b, #6d8fad);
  color: white !important;
  border: #2f557b;
  padding: 7px;
  transition: all 0.3s ease;
}

.btn-uci:hover {
  background: linear-gradient(90deg, #3c658d, #7d9ebb);
}

.input-text-uci {
  border: 2px solid #3c658d;
}
