<link rel='stylesheet' href='../../../css/Layout/NavBar.css' />
<header class='header bg-uci text-white ' id='header'>
  <div>
    <div class='header_toggle p-1' style="cursor: pointer;" id='header-toggle'>
      <i class='bi bi-list '></i>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <span class="me-2" style="max-width: 100px; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;">
      {{user.name}}
    </span>
    <div class="d-flex align-items-center" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false">
      <div class='header_img'>
        <img src="https://ui-avatars.com/api/?name={{user.name}}&background=random&size=100" alt="Avatar" />
      </div>
      <i class="bi bi-chevron-down text-white p-2"></i>
    </div>
    <ul class="dropdown-menu mt-2">
      <li class="text-secondary" style="margin: auto 16px;">{{user.email}}</li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="/auth/profile">Editar perfil</a></li>
      <li><a class="dropdown-item" href="/auth/logout">Cerrar sesión</a></li>
    </ul>
  </div>
</header>
<div class='l-navbar py-5 p-md-0' id='nav-bar'>
  <a href='#' class='d-none d-md-grid nav_logo bg-uci-darker'>
    <img src="../../../img/Logo.png" alt="" srcset="">
    <span class='nav_logo-name'>HHRR4</span>
  </a>
  <i id="closeDrawerButton" class="bi bi-x-lg position-absolute text-white d-md-none p-2"
    style="right: 10; top: 10; font-size: 1.5rem;"></i>
  <nav class='nav'>
    <div>
      <div class='nav_list' id="nav_list">
        <a href='/' class='nav_link'>
          <i class="bi bi-speedometer2"></i>
          <span class='nav_name'>Tablero</span>
        </a>
        {{#ifEquals user.role 'admin'}}
        <a href='/users' class='nav_link'>
          <i class='bi bi-person'></i>
          <span class='nav_name'>Usuarios</span>
        </a>
        {{/ifEquals}}
        <a href='/workers' class='nav_link'>
          <i class='bi bi-people'></i>
          <span class='nav_name'>Trabajadores</span>
        </a>
        <a href='/requests' class='nav_link'>
          <i class='bi bi-list-nested'></i>
          <span class='nav_name'>Solicitudes</span>
        </a>
      </div>
    </div>
  </nav>
</div>

<script src='../../../js/Layout//NavBar.js'></script>