<%- include('../components/Layout/head')%>

  <form action="/add" method="post" class="d-flex flex-column align-items-center">
    Añadir trabajador
    <input type="text" placeholder="Nombre" name="name" />
    <input type="text" placeholder="Apellidos" name="lastName" />
    <input type="text" placeholder="Correo" name="email" />
    <input type="number" placeholder="Edad" name="age" />
    <input type="text" placeholder="Carne de identidad" name="ci" />
    <input type="text" placeholder="Categoría docente" name="teachingCategory" />
    <input type="text" placeholder="Grado científico" name="scientificDegree" />
    <input type="text" placeholder="Especialidad" name="speciality" />
    <input type="text" placeholder="Cargo" name="charge" />
    <div>
      <div>Disponible</div>
      <input type="radio" value="1" name="availability" />
      <label>Si</label>
      <input class="ms-3" type="radio" value="0" name="availability" />
      <label>No</label>
    </div>
    <button type="submit">Submit</button>
  </form>

  <!-- Workers Table -->
  <%- include('../components/Dashboard/workersTable') %>
  <!-- /Workers Table -->
  
<%- include('../components/Layout/footer')%>
