<link rel="stylesheet" href="../../../css/WorkersTable/index.css">
<style>
    .search-input-no-border {
        border: none;
    }

    .search-input-no-border:focus {
        border: none;
        box-shadow: none;
    }
</style>
<div class="container-fluid px-4">
    <div class="row d-flex justify-content-between align-content-center">
        <div class="col-auto">
            <h2>Trabajadores</h2>
        </div>
        <div class="col-auto">
            <button id="addButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createWorkerModal">
                <i class="bi bi-plus-lg"></i>
            </button>
            <button id="deleteButton" class="btn btn-danger disabled" data-bs-toggle="modal"
                data-bs-target="#deleteWorkerModal">
                <i class="bi bi-trash-fill"></i>
            </button>
        </div>
    </div>
    <div class="d-flex pb-2 border-bottom border-secondary align-items-center">
        <form id="search-form" method="post" action="/workers/search"
            class=" me-3 d-flex align-items-center bg-white">
            <i onclick="document.getElementById('search-form').submit()" class="btn btn-secondary rounded-start rounded-0 bi bi-search p-2"
                style=" left: 0px; top: 0px; z-index: 10;"></i>
            <input value="{{#if searchData}}{{searchData}}{{/if}}" type="text" name="searchData"
                class="form-control search-input-no-border" placeholder="Buscar">
        </form>
        <button id="exportDataButton" class="btn btn-success btn-sm disabled d-flex align-items-center me-3">
            <i class="bi bi-box-arrow-down me-2"></i>Exportar
            Datos</button>
        <button class="btn me-3">
            <i class="bi bi-filter me-2"></i>Filtrar</button>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget blank no-padding">
                {{#if searchData}}
                <a href="/workers" class="text-decoration-none">
                    <h5 class="text-white bg-secondary p-2 rounded d-flex justify-content-between px-4">
                        Resultados de la búsqueda
                        <i class="bi bi-x-lg"></i>
                    </h5>
                </a>
                {{/if}}
                <div class="panel panel-default work-progress-table"
                    style="max-width: 100%; overflow: auto; max-height: 25rem;">
                    <!-- Table -->
                    {{#if workers}}
                    <!-- Workers Table -->
                    {{> Workers/WorkersTable }}
                    <!-- /Workers Table -->

                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- {{> Generals/Modal idModal='exampleModal' actionBMsg='Eliminar' title='Eliminar datos sd sd asdsadads' msg='¿Desea
eliminar esta información?' handler='deleteData'}} --}}
{{> Generals/DeleteModal idModal='deleteWorkerModal' title='Eliminar datos' text='¿Desea eliminar esta información?'
handler='deleteData'}}
{{> Workers/Modals/CreateWorkerModal idModal='createWorkerModal' title='Agregar trabajador'}}
{{> Workers/Modals/ViewWorkerInfoModal idModal='viewWorkerModal' title='Datos trabajador' }}

{{!-- {{workers.[0].name}} --}}

<script src="../../js//Workers/index.js"></script>
<script>
    let workers = JSON.parse('{{{ toJson workers }}}').data;
    workers[0].name = 'dasdas'
    console.log(workers);
</script>